@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Vencill's Hotel</h1>
    <p class="lead">Here, you can book the room you like depend on the room type! </p>
    <p><a href="https://localhost:44303/Rooms" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Where to find us</h2>
        <p>
            Here is the map help you to find us!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44303/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p> If you have any question, please send emails to the administator.</p>
        <p><a class="btn btn-default" href="https://localhost:44303/Home/Send_Email">Learn more &raquo;</a></p>
    </div>
    
</div>